body {
    background-color: rgb(130, 130, 255);
    margin: 0;
    padding: 0;
}

#container {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.font {
    font-family:'Courier New', Courier, monospace;
}

.texto {
   font-size: 25px; 
   text-align: justify;
   margin: 20px;
}

img {
    border-radius: 4px;
}
